$montserrat-font-family: "Montserrat", sans-serif;
$open-sans-font-family: "Open Sans", sans-serif;
$source-sans-font-family: "Source Sans 3", sans-serif;
$main-font-size: 18px;
$main-font-color: #2c4058;
$light-font-color: #fff;

$color-blue: #55b7ff;

$color-violet: #7e5aff;

$container-width: 1200px;
